<div class="w-screen h-screen flex justify-center items-center flex-col">

    <div>
        <div class="flex items-center">
            <img src="../assets/utp-logo.png" alt="utp-logo" class="w-32">
            <h1 class="text-9xl">Museo utp</h1>
            <img src="../assets/fisc-logo.png" alt="fisc-logo" class="w-32">
        </div>
        <p class="text-center text-6xl">Web administrativa</p>
        <p class="text-center text-3xl">By: Alik</p>
    </div>
    <p-button label="Entrar" [routerLink]="['/home']" styleClass="p-button-lg"></p-button>

</div>
