<p-toast [style]="{ width: '300px' }"></p-toast>
<p-card header="Articulos">

    <p-table [value]="articulos" [scrollable]="true">
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center sm:flex-row flex-col gap-2">
                <p-dropdown [options]="categorias" (onChange)="onChangeCategoria()" [(ngModel)]="currentCategoria" optionLabel="nombre" placeholder="Categoria" [style]="{ maxWidth: '14rem' }"></p-dropdown>
                <div class="flex items-center">
                    <p class="text-lg mr-2">Agregar</p>
                    <p-button (onClick)="onClickAgregar()" icon="pi pi-plus" styleClass="p-button-primary"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Dueño</th>
                <th>Categoria</th>
                <th>
                    <p class="text-red-500">Eliminar</p>
                </th>
                <th>
                    <p class="text-green-500">Editar</p>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-articulo>
            <tr>
                <td>
                    <img *ngIf="articulo.fotos[0]" [src]="articulo.fotos[0].url" alt="foto" class="w-12">
                    <i *ngIf="!articulo.fotos[0]" class="pi pi-camera" style="font-size: 2.5rem"></i>
                </td>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.ubicacion }}</td>
                <td>{{ articulo.dueno }}</td>
                <td>{{ articulo.categoria }}</td>
                <td>
                    <p-confirmPopup></p-confirmPopup>
                    <p-button icon="pi pi-trash" #button (onClick)="OnClickEliminarConfirm( $event, articulo.id )" styleClass="p-button-danger"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-pencil" #button styleClass="p-button-success"></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{articulos.length}} articulos. (Recarga la pagina si te quedaste sin resultados XD)
            </div>
        </ng-template>
    </p-table>

</p-card>
